
    <title><%= @title + ' | CodeCracker' %></title>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic", media: "all", "data-turbolinks-track" => true %>
    <% if @main_content_page == true %>
        <%= stylesheet_link_tag "fonts/meteocons/css/meteocons.css" %>
    <% end %>
    <% if @problem_page %>
        <%= stylesheet_link_tag "codemirror/doc/docs.css" %>
        <%= stylesheet_link_tag "codemirror/lib/codemirror.css" %>
        <%= stylesheet_link_tag "codemirror/addon/hint/show-hint.css" %>
        <%= stylesheet_link_tag "codemirror/theme/base16-light.css" %>
        <%= stylesheet_link_tag "codemirror/theme/mdn-like.css" %>
        <%= stylesheet_link_tag "codemirror/theme/monokai.css" %>
        <%= stylesheet_link_tag "codemirror/theme/solarized.css" %>
        <%= javascript_include_tag "codemirror/lib/codemirror.js" %>
        <%= javascript_include_tag "codemirror/mode/clike/clike.js" %>
        <%= javascript_include_tag "codemirror/mode/python/python.js" %>
        <%= javascript_include_tag "codemirror/addon/edit/matchbrackets.js" %>
        <%= javascript_include_tag "codemirror/addon/hint/show-hint.js" %>
        <%= javascript_include_tag "codemirror/addon/hint/javascript-hint.js" %>
        <%= javascript_include_tag "codemirror/mode/javascript/javascript.js" %>
        <style type="text/css">
            .CodeMirror {
              border: 1px solid #eee;
              height: auto;
              min-height: 300px;
            }
            .CodeMirror-scroll {
              overflow-y: hidden !important;
              overflow-x: auto !important;
            }

        </style>
    <% end %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="CodeCracker Admin Panel" />
    <meta name="author" content="Archit Srivastava" />
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application_header.js" %>
    <%= javascript_tag "$.noConflict();" %>
    <% if @main_content_page == true %>
        <%= javascript_include_tag "jvectormap/jquery-jvectormap-1.2.2.min.js" %>
    <% end %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->