<!DOCTYPE html>
<html lang="en">
	<head>
		<%= render partial: 'layouts/head' %>
	</head>
	<body class="page-body">
		<%= render partial: 'layouts/nav' %>
		<div class="page-container">
			<div class="main-content">
				<%= render partial: 'layouts/header' %>
				<%= yield %>
				<%= render partial: 'layouts/footer' %>
			</div>
			<%= javascript_include_tag 'application_footer.js' %>
		</div>
		<div class="page-loading-overlay">
		    <div class="loader-2"></div>
		</div>
		<% if @home_page || @contest_page || @problem_page || @scoreboard_page || @submissions_page %>
			<%= stylesheet_link_tag "datatables/dataTables.bootstrap.css" %>
		<% end %>
		<%= javascript_include_tag "application_footer.js" %>
		<% if @home_page || @contest_page || @problem_page || @scoreboard_page || @submissions_page %>
			<%= javascript_include_tag "datatables/js/jquery.dataTables.min.js" %>
			<%= javascript_include_tag "datatables/dataTables.bootstrap.js" %>
			<%= javascript_include_tag "datatables/yadcf/jquery.dataTables.yadcf.js" %>
			<%= javascript_include_tag "datatables/tabletools/dataTables.tableTools.min.js" %>
			<%= javascript_include_tag "jquery.timeago.js" %>
			<%= javascript_include_tag "jquery-ui/jquery-ui.min.js" %>
			<%= javascript_include_tag "selectboxit/jquery.selectBoxIt.min.js" %>
			<script>
				jQuery(document).ready(function() {
				  jQuery.timeago.settings.allowFuture = true;
				  jQuery(".timeago").timeago();
				  var opts = {
					"closeButton": true,
					"debug": false,
					"positionClass": "toast-top-right",
					"onclick": null,
					"showDuration": "300",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "fadeIn",
					"hideMethod": "fadeOut"
					};
				  <% if @notif_quick_submit %>
						toastr.error("You're only allowed to make one submission in 30 seconds. Please try after some time", "Submission Error", opts);
				  <% elsif @notif_source_limit_exceed %>
				  		toastr.error("Your submission exceeds the source code limit. Please check the rules for more details", "Source Limit Error", opts);
				  <% elsif @notif_submission_success %>
					  toastr.success("Source code submitted successfully. Please check the submissions page for the status", "Success", opts);
				  <% end %>
				});
			</script>
            <style>
                .data-table .name {
                    display: block;
                    font-size: 14px;
                    color: #2c2e2f;
                    font-weight: 700;
                }
            </style>
		<% end %>
	</body>
</html>
